/* Variáveis do CSS. Serve como boa prática para poder organizar por exemplo as cores mais usadas no estilo*/
:root{
	--azul: #0a0bc7;
	--preto: #141414;
	--azul_claro: #2062a7;
}

/* Reset do CSS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Elementos base */
body{
	/* Colocando o "var", automaticamente chamamos a variável declarada no início */
	background: var(--preto);
	font-family: Arial, Times, serif;
	color: #f2f2f2;
}

header .container{
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .logo{
	margin-left: 10px;
	margin-right: 40px;
	color: var(--azul);
	font-family: 'Arial Black', Times;
	font-size: 30px;
}

header nav a{
	text-decoration: none;
	color: #aaa;
	margin-right: 10px;
	transition: .3s ease all;
}

header nav a:hover{
	color: #fff;
}

/* Filme principal */
.filme_principal{
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('images/capa-house.jpg');
	height: 700px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.filme_principal .descricao{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.titulo{
	margin-top: 15%;
	font-size: 50px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
	background-color: rgba(0, 0, 0, .50);
	border: none;
	color: #f2f2f2;
	padding: 15px 30px;
	margin-right: 10px;
	font-size: 12px;
	cursor: pointer;
	transition: .3s ease all;
}

.botao:hover{
	background-color: #f2f2f2;
	color: #0d0d0d;
}

.botao{
	margin-right: 8px;
	border-radius: 5px;
}

.container{
	margin-left: 40px;
}

.filme_principal .container{
	width: 70%;
}

.box_filme{
	height: 100%;
	width: 100%;
	border-radius: 5px;
	display: block;
}

.carousel_filmes{
	margin-top: 20px;
}